* {
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 620px;
  font-family: "Mitr", sans-serif;
  background-image: url(https://cdn.dribbble.com/users/1013033/screenshots/3110714/media/9f03b9d3ffecf220acad882dfb0956b6.jpg?resize=800x600&vertical=center);
  position: relative;
  object-fit: cover;
}

.main {
  margin: auto;
  z-index: 1;
  width: 480px;
  height: 340px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-align: center;
  margin-top: 150px;
  background-color: rgb(13, 27, 68);
  /* Tambahkan margin-top untuk mengatur jarak antara judul h1 dan class main */
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo h3 {
  font-size: 32px;
  color: #ffffff;
}

.container {
  width: auto;
  margin: auto;
  max-width: 600px;
  background-color: rgb(13, 27, 68);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.container h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

.drop-container {
  text-align: center;
  margin-bottom: 20px;
  display: block;
}

.form-inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

input[type="file"] {
  margin-bottom: 10px;
}

input[type="password"] {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  padding-left: 10px;
}

button[type="submit"] {
  background-color: darkgoldenrod;
  color: aliceblue;
  border-radius: 10px;
  margin-top: 30px;
  width: 110px;
  height: 35px;
}

button[type="submit"]:hover {
  background-color: #555;
}
.move {
  text-align: end;
  margin-right: 30px;
}
.desc {
  padding: 10px;
  width: 30px;
  height: 15px;
  background-color: #555;
  color: aliceblue;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
}

.riwayat {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.riwayat-en,
.riwayat-de {
  margin: 0 10px;
  text-align: center;
  flex-basis: 48%;
}

.riwayat-en h1,
.riwayat-de h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.log-container {
  max-height: 200px;
  overflow-y: auto;
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.log-container div {
  margin-bottom: 5px;
}

.log-container span {
  display: inline-block;
  margin-right: 5px;
  font-weight: bold;
  color: #333;
}

.log-container a {
  color: #333;
  text-decoration: none;
}

.log-container a:hover {
  text-decoration: underline;
}

.separator {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;
  background-color: #ccc;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  z-index: 2;
}
